
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <h1>This is the <u style="color:blue">AboutUs</u> Section of <u style="color:red">Index</u> Part.</h1>
</body>
</html>
