
@{
    Layout = "_Layout";
}

    <img src="~/images/navlogo.png" class="logo" alt="logo  " />
    <button class="btn btn-success">Click Here</button>
    <h1 style="color:seagreen">Welcome from Home Page</h1>