
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    <img src="~/images/man.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success">Add to Cart</a>
                            </div>
                        </div>
                        <small>5$</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    <img src="~/images/man.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success">Add to Cart</a>
                            </div>
                        </div>
                        <small>5$</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    <img src="~/images/man.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success">Add to Cart</a>
                            </div>
                        </div>
                        <small>5$</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    <img src="~/images/man.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success">Add to Cart</a>
                            </div>
                        </div>
                        <small>5$</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{ 
    <script>
        $(document).ready(function () {
            alert("Home is Ready");
        });
    </script>
}
