@{
    ViewData["Title"] = "Home";
    //var bookInfo = ViewData["book"] as BookModel;
}
<h1>Welcome to BookStore <span style="color:coral">@ViewData["proparty1"]</span></h1>
<br />
@*<h2 style="color:purple">Name</h2>
<br />
<h3>Id = <span style="color:Highlight">@bookInfo.Id</span></h3>
<br />
<h3>Name = <span style="color:Highlight">@bookInfo.Author</span></h3>*@

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/center-1.jpg" class="d-block w-100" alt="...">
            @*<div class="carousel-caption d-none d-md-block">

                </div>*@
        </div>
        <div class="carousel-item">
            <img src="~/images/center-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/center-3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="py-5 bg-light">
    <div class="container">

        <h1>Latest Products</h1>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    <img src="~/images/man.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success">Add to Cart</a>
                            </div>
                        </div>
                        <small>5$</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    <img src="~/images/man.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success">Add to Cart</a>
                            </div>
                        </div>
                        <small>5$</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    <img src="~/images/man.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success">Add to Cart</a>
                            </div>
                        </div>
                        <small>5$</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    <img src="~/images/man.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success">Add to Cart</a>
                            </div>
                        </div>
                        <small>5$</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        $(document).ready(function () {
            alert("Home is Ready");
        });
    </script>
}
