################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/bin/Debug/netcoreapp3.1
/BookStore/.vs/BookStore
/BookStore/obj
