@model IEnumerable<BookStore.Models.BookModel>
@{
    Layout = "_Layout";
}


<div class="container">
    <h3 class="display-3">All Books</h3>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    <img src="~/images/man.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success">View Details</a>
                            </div>
                            <small class="text-muted">@book.Author</small>
                        </div>

                    </div>
                </div>
            </div>
        }

        
    </div>
</div>
