@model IEnumerable<BookModel>

<div class="container">
    <h3 class="display-3">All Books</h3>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 16rem;">
                    
                    <div class="card-body">
                        <div class="d-flex justify-content-center" style="padding-right:10px;padding-left:10px;">
                            <img src="~/images/Bookimg.jpg" class="card-img-top" alt="..." style="position:center; height:40vh; width:30vh; ">
                        </div>
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/book/getbook/@book.Id" class="btn btn-success">View Details</a>
                            </div>
                            <small class="text-muted">@book.Author</small>
                        </div>

                    </div>
                </div>
            </div>
        }

        
    </div>
</div>

@section script{ 
    <script>
        $(document).ready(function () {
            alert("All Book is Here")
        });
    </script>
}